<!DOCTYPE html>
<html>
  <head>
    <title>aaaaa also</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <% if logged_in? %>
    <h2>Welcome, <%= current_user.email %>

    <form action="<% session_url%>" method="POST">
      <% form_authenticity_token %> 
      <input type="hidden" name="_method" value="DELETE">
      <button>Log Out</button>
    </form>
  <% else %>
    <a href="<%= new_session_url %>" id="login_button">Login</a>
    <a href="<%= new_user_url %>" id="signup_button">Sign up</a>
  <% end %>
    <h1>  i guess this is the application.html thing</h1>
    <%= yield %>
  </body>
</html>
